@import url('../css/base-theme/vars.css');

.folders-list {
    border-bottom: var(--border-style-small);
    padding-top: 20px;
    border-top: var(--border-style-small);
    border-left: var(--border-style-small);
}

a.active > :first-child {
    background-color: gray;
    border: 1px inset black;
    -webkit-box-shadow: inset -2px 3px 10px -5px rgba(255,255,255,1);
    -moz-box-shadow: inset -2px 3px 10px -5px rgba(255,255,255,1);
    box-shadow: inset -2px 3px 10px -5px rgba(255,255,255,1);
  }