/* Navigation */

.nav-logo {
    max-width: var(--nav-logo-max-width);
}

/* Login */

.login-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;
}

.login-inactive {
    max-height: 0px;
}

.login-active {
    max-height: 1000px;
}

/* Admin */

.jumbo-admin {
    margin-bottom: 0px;
}