@import url('../../css/base-theme/vars.css');

.add-folder-button {
    background-color: white;
    border: var(--border-style-medium);
    width: 80%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

.delete-note-button {
    background-color: white;
    border: var(--border-style-medium);
    width: 10%;
    height: 40px;
    margin-left: 80%;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}